body{
    background-color: dimgray;
    background-image:url('../images/concrete_wall.png');
    background-repeat: repeat;
    text-align: center;
    min-width: 750px;
}

#player{
    background: darkgray;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#container{
    margin-top: 50px;
}

#footer{
    color: #888;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*
For the home page:
*/

#home{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #bbb;
}

/*
For the login page:
*/

#login{
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
    width: 350px;
    box-shadow: 0 5px 24px #111;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#login h3{
    color: #222;
}

#login em{
    color: #999;
}

/*
For the 404 page:
*/
#fourohfour{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #bbb;
}

/*
For the nav bar:
*/
#nav a{
    text-decoration: none;
    color: graytext;
}

#nav li{
    padding: 10px;
    list-style-type: none;
    display: inline;
    font: 23px times, serif;
    color: graytext;
}

#nav li:hover{
    background-color: whitesmoke;

}

#nav{
    background: rgba(200,200,200,1);
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    z-index: 10000;
    box-shadow: 0 5px 24px #111;
    min-width: 750px;
}

/*
For the settings
*/

#settings{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: lightgray;
}

/*
#sidebar{
    width: 10%;
    background-color: lightgray;
    position: absolute;
    height: 800px;
    z-index: -1000;
}
*/

#set {
    width: 70%;
    height: 800px;
    position: absolute;
    background-color: lightgray;
    border-left: solid 1px black;
    box-shadow: 0 5px 24px #111;
}

/*
For the informational classes (errors and info)
*/

.info {
    color: gray;
}

.error{
    color: red;
}

.right{
    text-align: right;
}